In [2]:
import pandas as pd
from pybaseball import playerid_lookup
from pybaseball import statcast_pitcher, statcast
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from utils import process_statcast_data

In [3]:
from pybaseball import cache

cache.purge()

In [4]:
# sc_2024 = statcast("2024-01-01", "2024-12-31")
# combo_counts = sc_2024.groupby(["pitch_name", "pitch_type"]).size().reset_index(name="counts")
# print(combo_counts)

In [5]:
543294

543294

In [6]:
df = statcast_pitcher("2024-04-15", "2024-04-17", 543294)

Gathering Player Data

In [7]:
df = process_statcast_data(df)
df

,pitch_type,release_speed,release_spin_rate,pfx_x,pfx_z,stand,game_date
0,CH,80.9,2216.0,-0.22,0.72,R,2024-04-16
1,CU,75.8,3046.0,1.30,-0.77,R,2024-04-16
2,FF,89.2,2194.0,-0.70,1.18,R,2024-04-16
3,CU,76.0,3078.0,1.35,-0.90,R,2024-04-16
4,SI,88.2,2076.0,-1.20,0.57,R,2024-04-16
...,...,...,...,...,...,...,...
73,SI,87.6,2000.0,-1.08,0.50,L,2024-04-16
74,FF,87.8,1994.0,-0.28,1.14,L,2024-04-16
75,CH,82.8,2170.0,-1.10,0.48,L,2024-04-16
76,CH,81.7,2175.0,-1.33,0.64,L,2024-04-16
77,FF,87.8,2005.0,-0.44,1.21,L,2024-04-16

In [8]:
df["pitch_type"]

0     CH
1     CU
2     FF
3     CU
4     SI
      ..
73    SI
74    FF
75    CH
76    CH
77    FF
Name: pitch_type, Length: 77, dtype: category
Categories (4, object): ['CH', 'CU', 'FF', 'SI']

In [9]:
def get_pitch_mix(pitcher_id):
    df = pd.read_parquet("data/" + str(pitcher_id) + ".parquet")
    mix = df["pitch_type"].value_counts() / len(df)
    return mix

In [10]:
get_pitch_mix(543294)

pitch_type
CH    0.373043
SI    0.336429
FF    0.224197
CU    0.066331
Name: count, dtype: float64

In [11]:
df

,pitch_type,release_speed,release_spin_rate,pfx_x,pfx_z,stand,game_date
0,CH,80.9,2216.0,-0.22,0.72,R,2024-04-16
1,CU,75.8,3046.0,1.30,-0.77,R,2024-04-16
2,FF,89.2,2194.0,-0.70,1.18,R,2024-04-16
3,CU,76.0,3078.0,1.35,-0.90,R,2024-04-16
4,SI,88.2,2076.0,-1.20,0.57,R,2024-04-16
...,...,...,...,...,...,...,...
73,SI,87.6,2000.0,-1.08,0.50,L,2024-04-16
74,FF,87.8,1994.0,-0.28,1.14,L,2024-04-16
75,CH,82.8,2170.0,-1.10,0.48,L,2024-04-16
76,CH,81.7,2175.0,-1.33,0.64,L,2024-04-16
77,FF,87.8,2005.0,-0.44,1.21,L,2024-04-16